<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785046560597-aml6jmpjpa93j2p4v3l4jclg7ebti7bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785046560597-aml6jmpjpa93j2p4v3l4jclg7ebti7bf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785046560597-mctnitaop0aci5t3padei5npbiu3u6m4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<key>GCM_SENDER_ID</key>
	<string>785046560597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jcbnoPrj</string>
	<key>PROJECT_ID</key>
	<string>psghackathon-5192c</string>
	<key>STORAGE_BUCKET</key>
	<string>psghackathon-5192c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785046560597:ios:41f1b169cbb0db394059dc</string>
</dict>
</plist>
